.footer{
    background: #6278f7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 64px 0;
    gap: 32px;
}
.footer section ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer section ul li{
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer section ul li img{
    width: 16px;
}
.footer section img{
    width: 128px;
}
.footer section p{
    color: #ffff;
    font-weight: 500;
}